{% extends "base.html" %}
{% block title %}Politique de Confidentialité - {{ COMPANY_NAME }}{% endblock %}
{% block content %}
  <h1>Politique de Confidentialité</h1>
  <p><em>(Contenu à rédiger par un professionnel, notamment pour la conformité RGPD/Loi sur la protection des données)</em></p>
  <h2>Collecte de l'information</h2>
  <p>Nous recueillons des informations lorsque vous vous inscrivez sur notre site, lorsque vous vous connectez à votre compte, faites un achat... Les informations recueillies incluent votre nom, votre adresse e-mail, numéro de téléphone, et adresse postale.</p>
  <h2>Utilisation des informations et cookies</h2>
  <p>Toute les informations que nous recueillons auprès de vous peuvent être utilisées pour...</p>
{% endblock %}