<!-- templates/emails/bienvenue.html -->
<h1>Bienvenue chez {{ COMPANY_NAME }}, {{ user.first_name }} !</h1>

<p>
    Un compte a été créé pour vous sur notre site avec l'adresse e-mail {{ user.email }}.
    Cela vous permettra de suivre vos commandes et de faciliter vos futurs achats.
</p>

<p>Votre nom d'utilisateur est : <strong>{{ user.username }}</strong></p>

<p>
    Pour des raisons de sécurité, nous ne vous envoyons pas votre mot de passe. Si vous souhaitez vous connecter et que vous n'avez pas défini de mot de passe, ou si vous l'avez oublié, vous pouvez le réinitialiser à tout moment en cliquant sur le lien "Mot de passe oublié" sur notre page de connexion.
</p>

<p><a href="http://{{ domain }}{% url 'accounts:login' %}">Accéder à la page de connexion</a></p>

<p>Merci de votre confiance,<br>L'équipe {{ COMPANY_NAME }}</p>